# https://dart.dev/guides/libraries/private-files
.dart_tool/
.packages
build/
pubspec.lock

# IDE / editor
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Coverage / misc
coverage/
**/test/optimized_test.dart
*.log
